[data-theme='light'],
:root:not([data-theme='dark']) {
  --pico-primary: #00b1ed;
  --pico-primary-hover: #21c7ff;
  --pico-primary-focus: none;
  --pico-primary-inverse: #ffffff;
}
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --pico-background-color: #121212;
    --pico-primary: #00b1ed;
    --pico-primary-hover: #21c7ff;
    --pico-primary-focus: none;
    --pico-primary-inverse: #ffffff;
  }
}
[data-theme='dark'] {
  --pico-background-color: #121212;
  --pico-primary: #00b1ed;
  --pico-primary-hover: #21c7ff;
  --pico-primary-focus: none;
  --pico-primary-inverse: #ffffff;
}
:root {
  --pico-font-family: sans-serif;
  --pico-switch-color: var(--pico-primary-inverse);
  --pico-switch-checked-background-color: var(--pico-primary);
  --pico-line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
  --pico-typography-spacing-vertical: 1rem;
}
h3.brand {
  margin-bottom: 0;
}
body header {
  padding: calc(var(--pico-spacing) * 1) 0;
}
body header nav ul li a {
  color: var(--pico-h2-color);
  --pico-underline: var(--pico-h2-color) !important;
}
body main {
  padding: calc(var(--pico-spacing) * 1) 0;
}
ul.no-style,
ul.no-style li {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}
ul.no-style a,
ul.no-style li a {
  margin-right: 0.6em;
}
small {
  --pico-font-size: 0.75em;
}

