@import url("pico.min.css");

[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #00b1ed;
  --primary-hover: #21c7ff;
  --primary-focus: none;
  --primary-inverse: #ffffff;
}
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --background-color: #121212;
    --primary: #00b1ed;
    --primary-hover: #21c7ff;
    --primary-focus: none;
    --primary-inverse: #ffffff;
  }
}
[data-theme='dark'] {
  --background-color: #121212;
  --primary: #00b1ed;
  --primary-hover: #21c7ff;
  --primary-focus: none;
  --primary-inverse: #ffffff;
}
:root {
  --font-family: sans-serif;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
  --typography-spacing-vertical: 1rem;
}
h3.brand {
  margin-bottom: 0;
}
body header {
  padding: calc(var(--spacing) * 1) 0;
}
body header nav ul li a {
  color: var(--h2-color);
}
body main {
  padding: calc(var(--spacing) * 1) 0;
}
ul.no-style,
ul.no-style li {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}
ul.no-style a,
ul.no-style li a {
  margin-right: 0.6em;
}
small {
  --font-size: 0.75em;
}

